@import "_home";

.genpassBlock {
  width: 100%;
  max-width: 500px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.socials {
  a {
    font-size: 30px;
    text-decoration: none;
    margin: 0 10px;
    color: #ccc;
    transition: all 0.3s ease;

    svg {
      transition: all 0.3s ease;
    }

    &:hover {
      color: green;

      svg {
        transform: translateY(-10px);
      }
    }
  }
}
